/* Global settings to ensure layout stability and no horizontal overflow */
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  height: 100%;
  box-sizing: border-box;
}

/* General box-sizing for all elements */
* {
  box-sizing: border-box;
}

/* Roulette layout, keeping its size fixed and centered */
.roulette-layout {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw; /* Full width */
  /*   background-image: url('https://images.pexels.com/photos/907485/pexels-photo-907485.jpeg'); */
  /* background-image: url('https://github.com/cost6885/roulette/blob/main/public/asset/cloud2.gif'); */
  /* background-image: url('./products/background.jpg'); */
  /* background-color: rgb(233, 236, 239); */
  background: linear-gradient(#020b3e, #5caff8);
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  text-align: center;
  overflow: hidden; /* Prevent any overflow */
  padding-top: 30;
}

.headerContainer {
  padding: 2px;
  position: absolute;
  top: 4rem;
  left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container {
  text-align: center;
  position: relative;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /* width: 80%; */
  width: 48rem;
  background-color: white;
  max-width: 48rem;
  min-width: 45rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  aspect-ratio: 1/1;
  rotate: -47deg;
}

.roulette-border {
  position: absolute;
  background: transparent;
  border: 3.5rem solid #020b3e;
  border-radius: 50%;
  width: 45rem;
  height: 45rem;
  min-width: 35rem;
  min-height: 35rem;
  z-index: 100;
  align-items: center;
  justify-content: center;
  display: flex;
  pointer-events: none;
  aspect-ratio: 1/1;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
}

.innerContainer {
  /* background-color: white; */
  border-radius: 50%;
  /* width: 100%;
  height: 100%; */
  aspect-ratio: 1/1;
  justify-content: center;
  align-items: center;
  display: flex;
  transform: scale(1);
  transform-origin: center;
  /* position: absolute;
  z-index: 1000; */
}

.btn-container {
  /* background-color: #6bb8fd; */
  background: linear-gradient(#7bc1ff, #3f89cb);
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  transform: translate(-50%, -50%) rotate(47deg);
  box-shadow: 0 5px 5px -5px #333, -5px 0 5px -5px #333, 5px 0 5px -5px #333;
}

.QR-container {
  width: 100%;
  /* height: 100%; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.QR-border {
  position: absolute;
  width: 50%;
  height: 50%;
  z-index: 100;
  transform: ranslate(-50%, -50%);
  /* background-color: #333; */
}

.top-left {
  position: absolute;
  /* background-color: pink; */
  width: 10%;
  height: 10%;
  top: 0;
  left: 0;
  border-top-left-radius: 5px;
  border-top: 3px solid #2196f3;
  border-left: 3px solid #2196f3;
}

.bottom-left {
  position: absolute;
  width: 10%;
  height: 10%;
  bottom: 0;
  border-bottom-left-radius: 5px;
  border-bottom: 3px solid #2196f3;
  border-left: 3px solid #2196f3;
}

.top-right {
  position: absolute;
  width: 10%;
  height: 10%;
  top: 0;
  right: 0;
  border-top-right-radius: 5px;
  border-top: 3px solid #2196f3;
  border-right: 3px solid #2196f3;
}

.bottom-right {
  position: absolute;
  width: 10%;
  height: 10%;
  bottom: 0;
  right: 0;
  border-bottom-right-radius: 5px;
  border-bottom: 3px solid #2196f3;
  border-right: 3px solid #2196f3;
}

/* Ensuring the roulette element doesn't grow beyond a specific size */
.bhdLno {
  max-width: 670px !important;
  max-height: 670px !important;
}

@media (max-width: 800px) {
  .roulette-layout {
    flex-direction: column;
    align-items: center;
  }
}

/* Menu layout styles */
.menu-layout {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 350px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .menu-layout {
    width: 100%;
  }
}

/* Button styling */
button {
  padding: 10px 20px;
  font-size: 16px;
}

/* Controls layout */
#controls {
  background-color: rgba(255, 255, 255, 0.9);
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
}

#controls label {
  display: flex;
  align-items: center;
  margin: 0;
}

#controls label input {
  margin-right: 5px;
}

input[type='checkbox'] {
  width: 40px;
  height: 40px;
}

/* Jackpot display */
#jackpot {
  color: #d5ad6d;
  font-size: 40px;
  text-align: center;
}

/* 테두리 */
.roulette-container {
  position: absolute;
  width: 100%;
  z-index: 100;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: none;
  border-radius: 50%;
  pointer-events: none;
}

.pointer-container {
  position: absolute;
  top: 10%;
  left: 80%;
  z-index: 100;
  transform: translate(-50%, -0%) rotate(45deg);
}

.pointer-container.spinning {
  transform: translate(-50%, -0%) rotate(10deg);
}

.roulette-wrapper {
  width: 90%;
  aspect-ratio: 1 / 1;
  position: relative;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5), inset 0 0 500px rgb(62, 62, 62, 0.8);
}

.roulette-svg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
