html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

.roulette-layout {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw; /* Full width */
  background: linear-gradient(#020b3e, #5caff8);
  text-align: center;
  overflow: hidden;
  padding-top: 30;
}

.container {
  text-align: center;
  position: relative;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /* width: 80%; */
  width: 48rem;
  background-color: white;
  max-width: 48rem;
  min-width: 45rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  aspect-ratio: 1/1;
  rotate: -47deg;
}

@media (max-width: 800px) {
  .roulette-layout {
    flex-direction: column;
    align-items: center;
  }
}

/* Menu layout styles */
.menu-layout {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 350px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .menu-layout {
    width: 100%;
  }
}

/* Button styling */
/* button {
  padding: 10px 20px;
  font-size: 16px;
} */

/* Controls layout */
/* #controls {
  background-color: rgba(255, 255, 255, 0.9);
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
} */

#controls label {
  display: flex;
  align-items: center;
  margin: 0;
}

#controls label input {
  margin-right: 5px;
}

input[type='checkbox'] {
  width: 40px;
  height: 40px;
}

/* Jackpot display */
#jackpot {
  color: #d5ad6d;
  font-size: 40px;
  text-align: center;
}
